<div class="contentbox">
  <div class="animatebox">
    <div class="progressbox">
      <p>
        <b><u>Checklist:</u></b>
      </p>
      <p>&#9989; <u>Hunger Check:</u> Hungry</p>
      <a href="/">
        <button type="button" class="btn" id="previous-button">Previous</button>
      </a>
    </div>
    <div class="subcontentbox">
      <h3>1. Something Something</h3>
      <p class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique modi
        ullam rem, magnam, eius fuga adipisci quibusdam, autem deleniti unde
        doloribus esse sunt labore molestias. Laboriosam tenetur dignissimos
        enim repellendus!
      </p>
    </div>
    <div class="subcontentbox">
      <h3>2. Something Something More</h3>
      <p class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique modi
        ullam rem, magnam, eius fuga adipisci quibusdam, autem deleniti unde
        doloribus esse sunt labore molestias. Laboriosam tenetur dignissimos
        enim repellendus!<br />
        <br />
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis,
        nesciunt quae ad voluptates cumque accusantium molestiae architecto illo
        eius rerum itaque dicta impedit cum consequuntur corrupti sequi rem sit
        sint.
      </p>
    </div>
    <div class="subcontentbox action">
      <h3>3. Something To Do</h3>
      <p class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </div>
    <div class="subcontentbox">
      <h3>4. Something to copy</h3>
      <div class="description">
        <p>Please use the below snippet to create an amazing sandwich:</p>
        <div class="templatebox">
          <p
            id="input-1"
            onclick="clipboardCopy(this.id) ; showTooltip(this.id)"
            class="templatetext"
          >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
            modi ullam rem, magnam, eius fuga [adipisci quibusdam], autem
            deleniti unde doloribus esse sunt labore molestias. Laboriosam
            tenetur dignissimos enim [repellendus!]
            <img src="clipboard.svg" />
          </p>
        </div>

        <p>Please use the below snippet to make another tasty treat:</p>
        <div class="templatebox">
          <p
            id="input-2"
            onclick="clipboardCopy(this.id) ; showTooltip(this.id)"
            class="templatetext"
          >
            Pizza sauce recipe !
            <img src="clipboard.svg" />
          </p>
        </div>
      </div>
    </div>
    <a href="#omnomnom">
      <button type="button" class="btn" id="next-button">Next</button>
    </a>
  </div>
</div>
