<div class="contentbox">
  <h2>Sandwich Builder Runbook</h2>
  <p class="warning">
    <b>Before Proceeding: </b>Make sure you have all the necessary utensils and
    groceries to perform this Runbook.
  </p>
  <div class="questionbox">
    <p>Are you feeling hungry?</p>
    <div class="buttonbox">
      <a href="#hungry">
        <button type="button" class="btn-yes">Yes</button>
      </a>
      <a href="#nothungry">
        <button type="button" class="btn-no">No</button>
      </a>
    </div>
  </div>
</div>
