<div class="contentbox">
  <div class="animatebox">
    <div class="progressbox">
      <p>
        <b><u>Checklist:</u></b>
      </p>
      <p>&#9989; <u>Hunger Check:</u> Hungry</p>
      <p>&#9989; <u>Action Check:</u> Did something</p>
      <a href="#hungry">
        <button type="button" class="btn">Previous</button>
      </a>
      <a href="/">
        <button type="button" class="btn">Back to Start</button>
      </a>
    </div>
    <p class="closing">
      Congratulations on eating that sandwich. Now that you are replenished,
      it's time to close this runbook and have fun.
    </p>
  </div>
</div>
